.main-body
{
    display: flex;
    height: 100vh;
}
.sidebar
{
    background-color: rgb(150, 102, 100);
    width: 200px;
    color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    overflow: scroll;

}
.side-header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;

}
.side-header img{
    width: 35%;
    border-radius: 50%;
}

.sidebar .line
{
    width: 100%;
    background-color: white;
    height: 2px;
}
.menu ul li
{
    list-style: none;
}
.menu ul li a{
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-family: "Arial";
    font-size: 12px;
}









.content
{
    background-color: rgb(222, 223, 223);
    overflow: scroll;
    display: flex;
    flex-direction: column;
    flex: 1;
}
.header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    /* box-shadow: 1px 1px 100px 1px; */
    margin: 0 0 10px 0;
    height: 50px;
}
.form input{
    width: 600px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid rgb(160, 160, 160);
}

.logo img{
    width: 30%;
}
.content .seat
{
    font-size: 20px;
    margin-left: 40px;

}
.table-content
{
    margin-top: 20px;
    display: flex;
}
.table-content .tables{
    width: 800px;
   
}

.options
{
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 20px;
}
.options form select{
    height: 30px;
    width: 200px;
    border-radius: 5px;
}
.values
{
    margin-top: 20px;
    display: flex;
    gap: 20px;
}
 .one span,.two span{
    background-color: rgb(104, 104, 108);
    padding: 10px;
    color: white;
    border-radius: 5px;
}
.one input, .two input{
    height: 30px;
    width: 40px;
}
.table-2-info
{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    margin: 0 40px 20px 40px;
    align-items: center;
}
.table-2-info form select
{
    height: 30px;
    width: 200px;
    border-radius: 5px;
}
.table-2-table
{
    margin: 0 40px 40px 40px;
}

.table-2-table table
{
    width: 100%;
    text-align: center;

}
table td
{
    padding: 5px;
    
}
.table-2-table table td:nth-child(1), td:nth-child(4), td:nth-child(6) {
    background-color: green;
    color: white;
  }
  .table-2-table table td:nth-child(2) {
    background-color: red;
    color: white;
  }
  .room-details
{
    flex: 1;
    
}
.room-details p
{
    font-weight: 900;
    margin-top: 40px;
  
}
.room-details-info
{
    margin: 20px;
    height: fit-content;
    border-top: 1px solid rgb(192, 186, 186);
    background-color: whitesmoke;
    border-bottom: 1px solid rgb(192, 186, 186);
    padding: 10px;

}
.room-details-info table
{
    text-align: left;
}
.add-btn
{
    display: flex;
    justify-content: end;
    margin-right: 20px;

}
.add-btn button{
    padding: 10px;
   color: white;
   background-color: rgb(104, 104, 108);
   border: none;
   border-radius: 5px;
}
